.NChase {
    height: 300px;
    width: 500px;
    background-color: transparent;
    color: blue;
    color: white;
    border-radius: 20px;

    .savings {
        height: 90%;
        width: 90%;
        opacity: 1;
        margin: 0;
    }
}