.NChase {
    height: 300px;
    width: 500px;
    background-color: transparent;
    color: blue;
    color: white;
    border-radius: 20px;
    margin-left: 30px;

    .savings {
        height: 90%;
        width: 70%;
        opacity: 1;
    }
}