.CurrVio {
    padding: 150px 0 0 200px !important;

    .CVHeading{
        font-size: 40px;
    }

    .CVText {
        font-size: 18px;
    }

    .CVBtn {
        color: white;
        background-color: #1A7B99;
        border: none;
        padding: 8px 60px;
        border-radius: 3px;
    }
}

.CurrVioImg {
    height: 700px;
    width: 620px;
    opacity: 1 !important;
    margin: 30px 15px 0 0;
}