.CCP {
    border-left: 2px dotted white;
    border-right: 2px dotted white;
    border-radius: 1000px;
    padding-left: 30px;
    padding-right: 10px;
    height: 600px;
    width: 680px;
    margin-top: -80px;
    padding-top: 0;

    img {
    width: 450px;
    height: 300px;
    opacity: 1 !important;
    margin-top: 140px;
    margin-left: 70px;
}
}