.Bar {
    background-color: white;
    height: 70px;

    .Name {
        border-top: 10px solid black;
        color: saddlebrown;
        cursor: pointer;
    }
    
    .nav {
    color: darkgoldenrod;
    }
}