.title{
    height: 60px;
    padding-top: 2px;
    font-weight: 500;
    font-size: larger;
}

.description {
    padding-top: 10px;
}

.features {
    height: 50px !important;
    width: 50px !important;
}