.numbers {
    margin: 80px 0 0 0;
    background-color: whitesmoke;
    padding: 80px;

    .Hund {
        color: #2B9AB3;
        font-size: 140px;
    }

    .Fif {
        color: #9B57A6;
        font-size: 140px;
    }

    .NumText {
        font-size: 14px;
    }
}