.MMatter{
    background-color: whitesmoke;
    padding: 50px 100px;
    
    .MMSpan {
    color: #936846;

    .Mic {
        color: #936846 !important;
        opacity: 1 !important;
        height: 16px;
        width: 16px;
    }
    }

    
    .Mlink {
        color: #1A7B99;
    }

    .MSSpan {
        color: #936846;
    }

    .MSImg {
        height: 120px;
        width: 200px;
        opacity: 1 !important;
    }

    .PBox {
        height: 50px;
        width: 50px;
        background-color: white;
        border: 1px solid #936846;

    .play {
        height: 20px;
        width: 20px;
        margin: 15px;
    }
    }

    .file {
        height: 16px;
        margin: 0 0 3px 0;
    }

    .VLink {
        color: #1A7B99;
        padding-left: 8px;
    }

}