.NavHead {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    border-bottom-color: #0B6EFD !important;
}

.dropdown {
    display: inline-block;
    margin-left: 0 !important;
    padding: 0 !important;

    .dropdown-toggle {
    background-color: #f8f9fa;
    color: #343a40 !important;
    border: 1px solid #ced4da;
    // text-decoration: 2px solid underline blue !important;
    // text-decoration: none !important;
    transition: text-decoration 0.3s ease;

    &:hover {
        background-color: #e9ecef;
        color: #343a40;
    }
    }

    .dropdown-menu {
    border: 1px solid #ced4da;
    border-top: none;
    margin: 0 !important;

    .dropdown-item {
        color: #343a40;

        &:hover {
        background-color: #f8f9fa;
        color: #343a40;
        }
    }
    }
}
